### OPTIONS ###

# Vulkan to make gpu-screen-recorder-ui work
# DP-2 requires vrr always and cursor-hz 60 for cursor to be smooth on some apps
# OpenGl for cursor tearing, possibly better input delay for cursor
# no laggy cursor on any apps, breaks gpu-screen-recorder-ui
gfx-api = "Vulkan"

repeat-rate = { rate = 50, delay = 200 }

use-hardware-cursor = true

# window-management-key = "Super_L"

focus-follows-mouse = false

middle-click-paste = false

workspace-display-order = "sorted"

fallback-output-mode = "focus"

on-startup = [
	{ type = "exec", exec = "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'" },
	{ type = "exec", exec = "gsettings set org.gnome.desktop.interface gtk-theme 'Adwaita-dark'" },
]

on-graphics-initialized = [
	{ type = "exec", exec = ["jay", "input", "seat", "default", "set-cursor-size", "32"] },
	{ type = "show-workspace", name = "mrrp :3", output.name = "right" },
	{ type = "show-workspace", name = "meow <3", output.name = "left" },
	{ type = "push-mode", name = "default"},
	{ type = "exec", exec = "discord" },
	{ type = "exec", exec = "/home/jude/delayed-spotify.sh" },
]

actions.switch-to-mrrp = [
	{ type = "show-workspace", name = "mrrp :3", output.name = "right" },
	{ type = "define-action", name = "switch-monitor", action = "$switch-to-meow" },
]
actions.switch-to-meow = [
	{ type = "show-workspace", name = "meow <3", output.name = "left" },
	{ type = "define-action", name = "switch-monitor", action = "$switch-to-mrrp" },
]
actions.switch-monitor = "$switch-to-mrrp"

### STATUS BAR ###

[status]
format = "i3bar"
exec = "i3status"

### MONITORS ###

[[outputs]]
name = "left"
match.connector = "DP-2"
mode = { width = 3840, height = 2160, refresh-rate = 59.997 }
x = 0
scale = 2.0
vrr = { mode = "always", cursor-hz = 60 }

[[outputs]]
name = "right"
match.connector = "HDMI-A-1"
mode = { width = 1680, height = 1050, refresh-rate = 59.954 }
x = 1920

[[drm-devices]]
match.syspath = "/sys/devices/pci0000:00/0000:00:03.1/0000:09:00.0"
direct-scanout = true

### THEME ###

[theme]
border-width = 1
border-color = "#350030"
bar-separator-width = 1
separator-color = "#350030"
bg-color = "#000000"
focused-title-bg-color = "#350030"
focused-title-text-color = "#EEEEEE"
unfocused-title-bg-color = "#000000"
unfocused-title-text-color = "#999999"
focused-inactive-title-bg-color = "#250015"
focused-inactive-title-text-color = "#999999"

### INPUT ###
[[inputs]]
match.is-pointer = true
accel-profile = "flat"
accel-speed = -0.9375
natural-scrolling = false

[[inputs]]
match.name = "ydotoold virtual device"
accel-speed = -0.5

[[inputs]]
match.is-keyboard = true

### WINDOW RULES ###

[[windows]]
name = "2nd-monitor"
match.any = [
	{ app-id = "discord" },
	{ app-id = "spotify" },
	{ app-id = "com.obsproject.Studio" },
]
action = [
	{ type = "move-to-workspace", name = "mrrp :3" },
	{ type = "simple", cmd = "show-single" },
]
auto-focus = false

[[windows]]
name = "waywall"
match.app-id = "waywall"
action = { type = "move-to-workspace", name = "meow <3" }
auto-focus = false








### KEYBINDS ###

# [modes."default".shortcuts]
[shortcuts]
ctrl-semicolon          = { type = "push-mode", name = "disabled" }
ctrl-apostrophe         = "none"

logo-q                  = { type = "exec", exec = "foot" }
logo-r                  = { type = "exec", exec = ["rofi", "-show", "drun"] }
# logo-shift-s            = { type = "exec", exec = { shell = "jay screenshot new;sleep 1; swappy -f new -o - | wl-copy", privileged = true } }

logo-alt-c              = "close"
logo-alt-r              = "reload-config-toml"
logo-alt-m              = "quit"

logo-s                  = "toggle-mono"
logo-f                  = "toggle-fullscreen"
logo-v                  = "toggle-floating"

# logo-semicolon          =
# logo-return             =
# logo-shift-return       =
logo-h                  = "focus-left"
logo-shift-h            = "move-left"
# logo-j                  = "focus-next"
# logo-shift-j            =
# logo-k                  = "focus-prev"
# logo-shift-k            =
logo-l                  = "focus-right"
logo-shift-l            = "move-right"

logo-semicolon  = "$switch-monitor"
logo-1          = { type = "show-workspace", name = "meow <3",  output.name = "left"  }
logo-2          = { type = "show-workspace", name = "2",  output.name = "left"  }
logo-3          = { type = "show-workspace", name = "3",  output.name = "left"  }
logo-4          = { type = "show-workspace", name = "4",  output.name = "left"  }
logo-5          = { type = "show-workspace", name = "5",  output.name = "left"  }
logo-6          = { type = "show-workspace", name = "6",  output.name = "right" }
logo-7          = { type = "show-workspace", name = "7",  output.name = "right" }
logo-8          = { type = "show-workspace", name = "8",  output.name = "right" }
logo-9          = { type = "show-workspace", name = "9",  output.name = "right" }
logo-0          = { type = "show-workspace", name = "mrrp :3", output.name = "right" }

logo-shift-1    = [ { type = "move-to-workspace", name = "meow <3" }, { type = "show-workspace", name = "meow <3" }, { type = "move-to-output", output.name = "left" }, { type = "show-workspace", name = "meow <3" } ]
logo-shift-2    = [ { type = "move-to-workspace", name = "2" }, { type = "show-workspace", name = "2" }, { type = "move-to-output", output.name = "left" }, { type = "show-workspace", name = "2" } ]
logo-shift-3    = [ { type = "move-to-workspace", name = "3" }, { type = "show-workspace", name = "3" }, { type = "move-to-output", output.name = "left" }, { type = "show-workspace", name = "3" } ]
logo-shift-4    = [ { type = "move-to-workspace", name = "4" }, { type = "show-workspace", name = "4" }, { type = "move-to-output", output.name = "left" }, { type = "show-workspace", name = "4" } ]
logo-shift-5    = [ { type = "move-to-workspace", name = "5" }, { type = "show-workspace", name = "5" }, { type = "move-to-output", output.name = "left" }, { type = "show-workspace", name = "5" } ]
logo-shift-6    = [ { type = "move-to-workspace", name = "6" }, { type = "show-workspace", name = "6" }, { type = "move-to-output", output.name = "right" }, { type = "show-workspace", name = "6" } ]
logo-shift-7    = [ { type = "move-to-workspace", name = "7" }, { type = "show-workspace", name = "7" }, { type = "move-to-output", output.name = "right" }, { type = "show-workspace", name = "7" } ]
logo-shift-8    = [ { type = "move-to-workspace", name = "8" }, { type = "show-workspace", name = "8" }, { type = "move-to-output", output.name = "right" }, { type = "show-workspace", name = "8" } ]
logo-shift-9    = [ { type = "move-to-workspace", name = "9" }, { type = "show-workspace", name = "9" }, { type = "move-to-output", output.name = "right" }, { type = "show-workspace", name = "9" } ]
logo-shift-0    = [ { type = "move-to-workspace", name = "mrrp :3" }, { type = "show-workspace", name = "mrrp :3" }, { type = "move-to-output", output.name = "right" }, { type = "show-workspace", name = "mrrp :3" } ]

# [shortcuts]
# Control_R               = { type = "push-mode", name = "default" }
# ctrl-apostrophe          = { type = "push-mode", name = "default" }
# ctrl-semicolon           = "none"

ctrl-alt-F1 = { type = "switch-to-vt", num = 1 }
ctrl-alt-F2 = { type = "switch-to-vt", num = 2 }
ctrl-alt-F3 = { type = "switch-to-vt", num = 3 }
ctrl-alt-F4 = { type = "switch-to-vt", num = 4 }
ctrl-alt-F5 = { type = "switch-to-vt", num = 5 }
ctrl-alt-F6 = { type = "switch-to-vt", num = 6 }
ctrl-alt-F7 = { type = "switch-to-vt", num = 7 }
ctrl-alt-F8 = { type = "switch-to-vt", num = 8 }
ctrl-alt-F9 = { type = "switch-to-vt", num = 9 }

[modes."disabled".shortcuts]
ctrl-apostrophe         = "pop-mode"
ctrl-semicolon          = "none"

logo-q                  = "none"
logo-r                  = "none"
# logo-shift-s            = "none"

logo-alt-c              = "none"
logo-alt-r              = "none"
logo-alt-m              = "none"

logo-s                  = "none"
logo-f                  = "none"
logo-v                  = "none"

# logo-semicolon          =
# logo-return             =
# logo-shift-return       =
logo-h                  = "none"
logo-shift-h            = "none"
# logo-j                  = "focus-next"
# logo-shift-j            =
# logo-k                  = "focus-prev"
# logo-shift-k            =
logo-l                  = "none"
logo-shift-l            = "none"

logo-semicolon  = "none"
logo-1          = "none"
logo-2          = "none"
logo-3          = "none"
logo-4          = "none"
logo-5          = "none"
logo-6          = "none"
logo-7          = "none"
logo-8          = "none"
logo-9          = "none"
logo-0          = "none"

logo-shift-1    = "none"
logo-shift-2    = "none"
logo-shift-3    = "none"
logo-shift-4    = "none"
logo-shift-5    = "none"
logo-shift-6    = "none"
logo-shift-7    = "none"
logo-shift-8    = "none"
logo-shift-9    = "none"
logo-shift-0    = "none"
